@(order : dtos.OrderDTO)

<div class="form-group">
	<div class="input-group date col-md-offset-2" style="margin-right:15px;">
    	<input type="text" class="form-control datePicker" 
    	name="created" placeholder="From" style="margin-left:15px;" 
    	value="@if(order.getEntity().created!=null){@order.getEntity().created.format("MM/dd/yyyy hh:mm aa")}">
    	<div class="input-group-addon">
        	<span class="glyphicon glyphicon-calendar"></span>
    	</div>
	</div>
</div>
<div class="form-group">
  <label for="status"  class="control-label col-sm-2">Order status:</label>
  <div class="col-sm-10"> 
  <select class="form-control" id="status" name="status">
  @for(status <- order.getStatuses()){
  	<option @if(order.getEntity().status!=null && order.getEntity().status.toString().equals(status)){ selected}>@status</option>
  }
  </select>
  </div>
</div>
<div class="form-group">
  <label for="customer.id" class="control-label col-sm-2">Customer:</label>
  <div class="col-sm-10"> 
  <select class="form-control" id="customer.id" name="customer.id">
  @for(customer <- order.getCustomers()){
  	<option value="@customer.id" @if(order.getEntity().customer.id==customer.id){ selected}>@customer.name</option>
  }
  </select>
  <input type="hidden" name="id" value="@order.getEntity().id">
  </div>
</div>

 <script type="text/javascript">
 $(function () {
		$('.datePicker').datetimepicker({
	        sideBySide: true
	    });
	});        
</script>